.Search{
    min-height: 100vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#8A8882;
    font-family: Poppins;
}
.search-container{
    display: flex;
    align-items: center;
    width: 90%;
    padding: 0.5em;
    border: 1px solid #2D2B32;
    border-radius: 8px;
    background-color: #1B1A1E;
    margin-top: 10%;
}
#search-input{
    background-color: #1B1A1E;
    color:#8A8882;
    font-size: 3.5vmin;
    font-family: Poppins;
    border: none;
    outline: none;
    width: 100%;
}
.ranking-recent-history-container{
    display: flex;
    color:#F4F3F8;
    margin-top: 5%;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3.5vmin;
    height: 5vh;
}
.ranking-button{
    border-radius: 7px;
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
#search-ranking:hover{
    background-color: #F0C045;
    color: black;
}
#search-recent:hover{
    background-color: #F0C045;
    color: black;
}

#search-history:hover{
    background-color: #F0C045;
    color: black;
}

