.Search{
    min-height: 100vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#8A8882;
    font-family: Poppins;
}
.search-container{
    display: flex;
    align-items: center;
    width: 95%;
    padding: 0.5em;
    border: 1px solid #2D2B32;
    border-radius: 8px;
    background-color: #1B1A1E;
    margin-top: 10%;
}
#search-input{
    background-color: #1B1A1E;
    color:#8A8882;
    font-size: 3.5vmin;
    font-family: Poppins;
    border: none;
    outline: none;
    width: 100%;
}
.ranking-recent-history-container{
    display: flex;
    color:#F4F3F8;
    margin-top: 5%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3.5vmin;
    height: 9.5vmin;
}
.ranking-button{
    border-radius: 7px;
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}


#search-ranking:hover,
#search-history:hover,
#search-recent:hover{
    background-color: rgba(229, 229, 221, 0.1); /* Полупрозрачный желтый цвет */
    /*color: black;*/
}

.ranking-button.active,
.ranking-button.active:hover{
    background-color: #F0C045 !important;
    color: black !important;
}

@media (hover: none) {
    #search-ranking:hover,
    #search-recent:hover,
    #search-history:hover {
        background-color: initial; /* Отключаем эффект наведения на устройствах без hover */
        color: #F4F3F8;
    }
}


.ranking-container{
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: auto; /* sdasdad */
    max-height: 65vh; /* sdasdad */
    scroll-snap-type: y mandatory; /* Включение scroll-snap */
}
.friends-clubs-account{
    display: flex;
    background-color: #222126;
    border-radius: 14px;
    height: auto;
    width: 100%;
    margin-bottom: 3%;
    justify-content: space-between;
    align-items: center;
    /*max-height: 70px;*/
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    box-sizing: border-box;
    scroll-snap-align: start end; /* Прокрутка к началу блока */
}
#friends-clubs-logoX{
    width: 15vmin;
    height: 15vmin;
    max-height: 60px;
    max-width: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5%;
}

.friends-clubs-profile{
    display: flex;
    align-items: center;
    justify-content: center;

}
.friends-clubs-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
/*    margin-left: 10%;*/
}
#friends-clubs-name{
    font-family: Poppins;
    font-size: 3vmin;
    color:#F4F3F8;
}
#friends-clubs-username{
    font-family: Poppins;
    font-size: 3vmin;
    color: #F0C045;
}
.friends-clubs-number{
    color:#8A8882;
    font-family: Poppins;
    font-size: 4vmin;
   /* margin-right: 0%;*/
    width: 2em;
}

