/*
.x-accounts-container{
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.XAccount{
    display: flex;
    background-color: #222126;
    border-radius: 14px;
    height: 20vmin;
    width: 100%;
    margin-bottom: 3%;
    justify-content: space-between;
    align-items: center;
    max-height: 70px;
}
#logoX{
    width: 15vmin;
    height: 15vmin;
    max-height: 60px;
    max-width: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 25%;
}

.XAccount-profile{
    display: flex;
    align-items: center;
    justify-content: center;

}
.XAccount-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10%;
}
#XAccount-name{
    font-family: Poppins;
    font-size: 3vmin;
    color:#F4F3F8;
}
#XAccount-username{
    font-family: Poppins;
    font-size: 3vmin;
    color: #F0C045;
}
#button-unlink{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vmin;
    background-color: #DD5454;
    border: none;
    border-radius: 8px;
    padding: 1em 2em;
    font-size: 2vmin;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 5%;
}*/
