.App {
  background-color: #1B1A1E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}
.Footer{
  position: fixed;
  bottom:  3%;
  width: 50%;
  height: 8%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #252429;
  border: 1px solid #35343A;
  border-radius: 14px;
  overflow: hidden;
  max-width: 300px;
  max-height: 300px;

}
.icon-container{
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-text {
  display: flex;
  align-items: center;
  margin-top: -5%;
  font-size: 50%;
  color: #8A8882;
  font-family: Poppins;
}



/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
